<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        This is our Test Page
    </h1>

    <form action="/api/user/auth/google" method="GET">
        <label for="Name">Login</label>
        <input type="text">
        <br>
        <button type="submit">SignUp/Login</button>
    </form>
</body>
</html>